/* 文本不换行
------------------------------- */
@mixin text-no-wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 多行文本溢出
  ------------------------------- */
@mixin text-ellipsis($line: 2) {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

/* 滚动条（div 局部使用，颜色对齐 app.scss 全局统一样式）：
  ------------------------------- */
// .test {
//   @include scrollBar;
// }
@mixin scrollBar {

    // 滚动条的宽度
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    // 滚动条的设置
    &::-webkit-scrollbar-thumb {
        background-color: var(--el-border-color-darker);
        border: 2px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--el-text-color-placeholder);
    }
}