@use './index.scss' as index;

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: index.$xs) {
    .el-form-item__label {
        width: 100% !important;
        text-align: left !important;
    }

    .el-form-item__content {
        margin-left: 0 !important;
    }
}