/**   splitpanes  **/
.splitpanes.default-theme .splitpanes {
    background: transparent !important;
}

.splitpanes.default-theme .splitpanes__pane {
    background: transparent !important;
}

.default-theme.splitpanes--vertical>.splitpanes__splitter {
    border-left: 1px solid var(--bg-main-color);
}

.default-theme.splitpanes--horizontal>.splitpanes__splitter {
    border-top: 1px solid var(--bg-main-color);
}

// 竖线样式
.splitpanes.default-theme .splitpanes__splitter::before,
.splitpanes.default-theme .splitpanes__splitter::after {
    background-color: var(--el-color-info-light-5);
}

.splitpanes.default-theme .splitpanes__splitter:hover::before,
.splitpanes.default-theme .splitpanes__splitter:hover::after {
    background-color: var(--el-color-success);
}

.splitpanes.default-theme .splitpanes__splitter {
    min-width: 6px;
    background: var(--el-color-info-light-8) !important;
}

.splitpanes.default-theme .splitpanes__splitter:hover {
    background: var(--el-color-success-light-8) !important;
}